{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ActionSpark</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- font css -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   </head>
   <body>
      <div class="header_section">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <!-- <a class="navbar-brand"href="index.html"><img src="{% static 'images/new_logo.png' %}"></a> -->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
                     </li>

                  <form class="form-inline my-2 my-lg-0">
                     <div class="login_bt">
                        <ul>
                           <li><a href="/registration"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Login</a></li>
                           
                        </ul>
                     </div>
                  </form>
               </div>
            </nav>
         </div>
         <!-- banner section start --> 
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="banner_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="banner_taital_main">
                                 <h1 class="banner_taital">MotionScape</h1>
                                 <p class="banner_text">We're developing a deep learning-based system for action detection<br>
                                                        using the UCF-101 dataset to accurately localize actions in videos efficiently. </p>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- header section end -->


      {% comment %} <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="about_section_2">
               <div class="row">
                  <div class="col-md-6"> 
                     <div class="about_taital_box">
                        <h1 class="about_taital">About</h1>
                        <h1 class="about_taital_1">Action Spark</h1>
                        <p class=" about_text">Action detection, the task of identifying and localizing human actions in videos, plays a crucial role in 
                           various applications including video surveillance, human-computer interaction, and sports analysis. In 
                           this project, we propose a deep learning-based approach for action detection using the UCF-101 
                           dataset, a widely used benchmark dataset in the field of action recognition. Our goal is to develop a 
                           system that can accurately detect and localize actions in videos with high efficiency.</p>
                        <div class="readmore_btn"><a href="{% url 'about' %}">Read More</a></div>
                        
                     </div>
                  </div>
                  <div class="col-md-6"> 
                     <div class="image_iman"><img src="{% static 'images/about_image.png' %}" class="about_img"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end --> {% endcomment %}


{% comment %} <!-- STATISTICS section start -->
<div class="container">
   <div class="row justify-content-center">
       <div class="col-md-6">
           <div class="centered-box">
               <h1 class="about_taital" style="float: none; text-align: center;">STATISTICS</h1>
               <div class="stats-container">
                   <div class="stats-item">
                       <div class="counter-value number-count" id="totalVideosCount">13000</div>
                       <p class="stats-label">Total videos</p>
                   </div>
                   <div class="stats-item">
                       <div class="counter-value number-count" id="totalClassesCount">101</div>
                       <p class="stats-label">Total classes</p>
                   </div>
                   <div class="stats-item">
                       <div class="counter-value number-count" id="accuracy">89.7%</div>
                       <p class="stats-label">Accuracy</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- STATISTICS section end --> {% endcomment %}

   
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <p class="copyright_text">MotionScape <a href="https://html.design"></a></p>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>